        /* ===============
        PRIMARY LAYOUT
        =============== */

        :root {
            --left-padding-amount: 10px;
            --top-padding-amount: 20px;
            --label-progress-left-margin: 20px;
            --border-colour: #c3c3c3;
            --border-colour: #dadada;
            --placeholder-text-colour: #e3e3e3;
            --gutter-background-colour: #efefef;
            --gutter-background-colour: #fbfbfb;
            --paper-background-colour: #ffffff;
            --text-input-colour: #5f6772;
            --text-input-font-family: 'Open Sans', sans-serif;
            --text-input-underline-colour: #dddddd;
            --text-header-colour: #9c9c9c;
            --text-header-font-family: 'Montserrat', sans-serif;
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/double-bubble-outline.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/light-grey-terrazzo.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/oriental.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/funky-lines.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/oriental.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/let-there-be-sun.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/y-so-serious-white.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/leaves.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/white-waves.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/full-bloom.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/what-the-hex.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/webb.png);

            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/tic-tac-toe.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/qbkls.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/just-waves.png);
            --gutter-background-image-url: url(https://brave-bell-30868b.netlify.app/img/wavy-dots.png);
        }

        body {
            padding: 0;
            margin: 0;
            font-family: Sans-Serif;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1.5fr minmax(520px, 1.4fr) minmax(520px, 1.4fr) 1.5fr;

            grid-template-rows: minmax(30px, 0.32fr) minmax(50px, 1.2fr) minmax(50px, 1fr) minmax(200px, 1.7fr) minmax(150px, 0.8fr) minmax(20px, 0.1fr);
            gap: 0px 0px;
            grid-template-areas:
                "GutterLeft Header Header GutterRight"
                "GutterLeft GoalsToday GoalsToday GutterRight"
                "GutterLeft GoalsWeek GoalsWeek GutterRight"
                "GutterLeft SubGrid SubGrid GutterRight"
                "GutterLeft Notes Notes GutterRight"
                "GutterLeft Footer Footer GutterRight";
            min-height: 100vh;
            background-color: var(--paper-background-colour);
        }

        .grid-container div {
            border-bottom: var(--border-colour) solid 1px;
            margin-bottom: 0px;
            margin-top: 0px;
        }


        /* ===============
        SECONDARY LAYOUT
        =============== */


        /* ===GoalsToday=== */

        .GoalsToday {
            grid-area: GoalsToday;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.85fr 1fr 1fr 1.4fr;
            grid-template-areas: "laGoalsToday spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed"
                "inGoalsToday1 inGoalsToday1 inGoalsToday1 inGoalsToday2 inGoalsToday2 inGoalsToday2 inGoalsToday3 inGoalsToday3 inGoalsToday3"
                "inGoalsToday4 inGoalsToday4 inGoalsToday4 inGoalsToday5 inGoalsToday5 inGoalsToday5 inGoalsToday6 inGoalsToday6 inGoalsToday6"
                "inGoalsToday7 inGoalsToday7 inGoalsToday7 inGoalsToday8 inGoalsToday8 inGoalsToday8 inGoalsToday9 inGoalsToday9 inGoalsToday9";
            min-height: fit-content;
            grid-gap: 0 40px;
            margin-right: 20px;
            margin-left: 20px;
        }

        #spTodayElapsed {
            grid-area: spTodayElapsed;
        }

        .laGoalsToday {
            grid-area: laGoalsToday;
            width: max-content;
        }

        .inGoalsToday1 {
            grid-area: inGoalsToday1;
        }

        .inGoalsToday2 {
            grid-area: inGoalsToday2;
        }

        .inGoalsToday3 {
            grid-area: inGoalsToday3;
        }

        .inGoalsToday4 {
            grid-area: inGoalsToday4;
        }

        .inGoalsToday5 {
            grid-area: inGoalsToday5;
        }

        .inGoalsToday6 {
            grid-area: inGoalsToday6;
        }

        .inGoalsToday7 {
            grid-area: inGoalsToday7;
        }

        .inGoalsToday8 {
            grid-area: inGoalsToday8;
        }

        .inGoalsToday9 {
            grid-area: inGoalsToday9;
        }

        #taGoalsToday {
            grid-area: taGoalsToday;
        }


        /* ===Gutters=== */

        .GutterRight {
            grid-area: GutterRight;
            background-color: var(--gutter-background-colour);
            background: var(--gutter-background-image-url);
            background-repeat: repeat;
            box-shadow: inset 3px -1px 10px -9px black;


        }

        .GutterLeft {
            grid-area: GutterLeft;
            background-color: var(--gutter-background-colour);
            background: var(--gutter-background-image-url);
            background-repeat: repeat;
            box-shadow: inset -3px 1px 10px -9px black;
        }


        /* ===GoalsWeek=== */

        .GoalsWeek {
            grid-area: GoalsWeek;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.85fr 1fr 1.4fr;
            grid-template-areas: "laGoalsToday spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed"
                "inGoalsWeek1 inGoalsWeek1 inGoalsWeek1 inGoalsWeek2 inGoalsWeek2 inGoalsWeek2 inGoalsWeek3 inGoalsWeek3 inGoalsWeek3"
                "inGoalsWeek4 inGoalsWeek4 inGoalsWeek4 inGoalsWeek5 inGoalsWeek5 inGoalsWeek5 inGoalsWeek6 inGoalsWeek6 inGoalsWeek6";
            min-height: fit-content;
            grid-gap: 0 40px;
            margin-right: 20px;
            margin-left: 20px;

        }

        #spWeekElapsed {
            grid-area: spWeekElapsed;
        }

        .laGoalsWeek {
            grid-area: laGoalsWeek;
            width: max-content;
        }

        .inGoalsWeek1 {
            grid-area: inGoalsWeek1;
        }

        .inGoalsWeek2 {
            grid-area: inGoalsWeek2;
        }

        .inGoalsWeek3 {
            grid-area: inGoalsWeek3;
        }

        .inGoalsWeek4 {
            grid-area: inGoalsWeek4;
        }

        .inGoalsWeek5 {
            grid-area: inGoalsWeek5;
        }

        .inGoalsWeek6 {
            grid-area: inGoalsWeek6;
        }


        /* ===SubGrid=== */
        .SubGrid {
            display: grid;
            grid-template-columns: 2.0fr 1fr;
            grid-template-rows: 1.0fr 1.0fr;
            gap: 1px 1px;
            grid-template-areas: "GoalsMonth Habits"
                "GoalsYear Habits";
            grid-area: SubGrid;
            margin-right: 20px;
            margin-left: 20px;
        }


        /* ===GoalsMonth=== */
        .GoalsMonth {
            grid-area: GoalsMonth;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.85fr 1fr 1.4fr;
            grid-template-areas: "laGoalsMonth spMonthElapsed spMonthElapsed spMonthElapsed spMonthElapsed spMonthElapsed"
                "inGoalsMonth1 inGoalsMonth1 inGoalsMonth1 inGoalsMonth2 inGoalsMonth2 inGoalsMonth2"
                "inGoalsMonth3 inGoalsMonth3 inGoalsMonth3 inGoalsMonth4 inGoalsMonth4 inGoalsMonth4";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        #spMonthElapsed {
            grid-area: spMonthElapsed;
        }

        .laGoalsMonth {
            grid-area: laGoalsMonth;
            width: max-content;
        }

        .inGoalsMonth1 {
            grid-area: inGoalsMonth1;
        }

        .inGoalsMonth2 {
            grid-area: inGoalsMonth2;
        }

        .inGoalsMonth3 {
            grid-area: inGoalsMonth3;
        }

        .inGoalsMonth4 {
            grid-area: inGoalsMonth4;
        }


        /* ===GoalsYear=== */
        .GoalsYear {
            grid-area: GoalsYear;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            border-bottom: 0 !important;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.85fr 1fr 1.4fr;
            grid-template-areas: "laGoalsYear spYearElapsed spYearElapsed spYearElapsed spYearElapsed spYearElapsed"
                "inGoalsYear1 inGoalsYear1 inGoalsYear1 inGoalsYear2 inGoalsYear2 inGoalsYear2"
                "inGoalsYear3 inGoalsYear3 inGoalsYear3 inGoalsYear4 inGoalsYear4 inGoalsYear4";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        #spYearElapsed {
            grid-area: spYearElapsed;
         }

        .laGoalsYear {
            grid-area: laGoalsYear;
            width: max-content;
        }

        .inGoalsYear1 {
            grid-area: inGoalsYear1;
        }

        .inGoalsYear2 {
            grid-area: inGoalsYear2;
        }

        .inGoalsYear3 {
            grid-area: inGoalsYear3;
        }

        .inGoalsYear4 {
            grid-area: inGoalsYear4;
        }


        /* ===Habits=== */
        .Habits {
            grid-area: Habits;
            padding: var(--top-padding-amount) 0 0 30px;
            border-left: var(--border-colour) solid 1px;
            border-bottom: 0px !important;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: "laHabits"
                "inHabits1"
                "inHabits2"
                "inHabits3"
                "inHabits4"
                "inHabits5"
                "inHabits6";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        .laHabits {
            grid-area: laHabits;
            width: max-content;
        }

        .inHabits1 {
            grid-area: inHabits1;
        }

        .inHabits2 {
            grid-area: inHabits2;
        }

        .inHabits3 {
            grid-area: inHabits3;
        }

        .inHabits4 {
            grid-area: inHabits4;
        }

        .inHabits5 {
            grid-area: inHabits5;
        }

        .inHabits6 {
            grid-area: inHabits6;
        }


        /* ===Notes=== */
        .Notes {
            grid-area: Notes;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            margin-right: 20px;
            margin-left: 20px;
        }

        /* ===Header=== */
        .Header {
            grid-area: Header;
            margin-right: 20px;
            margin-left: 20px;
        }

        #logo {
            fill: black;
            fill-opacity: 0.6;
            width: 25%;width: 21%;
            shape-rendering: geometricPrecision;
            position: relative;
            bottomx: 8px;
            right: 7px;
        }



        /* ===Footer=== */
        .Footer {
            grid-area: Footer;

        }



        /* ===============
        TEXT
        =============== */
        .grid-container label,
        .progress {
            text-transform: uppercase;
            font-size: 0.9em;
            color: #9c9c9c;
            color: var(--text-header-colour);
            font-family: var(--text-header-font-family);
        }

        .progress {
            font-style: italic;
            text-transform: none;
            margin-left: var(--label-progress-left-margin);;
        }


        .logo {
            font-size: 0.95em;
            position: relative;
            bottom: 5px;
            left: 10px;
            color: #666;
            text-transform: uppercase;
            font-family: var(--text-header-font-family);
        }


        /* ===============
        FORMS
        =============== */

        textarea {
            border: none;
            font-size: 1.3em;
            resize: none;
            width: 98%;
            height: 75%;
            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: var(--text-input-font-family);
            font-size: 0.9em;
            color: var(--text-input-colour);
            min-height: 100px;
            background-color: var(--paper-background-colour);
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        input {
            width: 70%;
            height: 15px;
            border: none;
            border-bottom: 1px solid var(--text-input-underline-colour);
            margin-left: 18px;
            font-family: var(--text-input-font-family);
            font-size: 0.9em;
            color: var(--text-input-colour);
            background-color: var(--paper-background-colour);
            z-index: 1;
        }

        .inputlabel {
            position: relative;
            top: 3px;
        }

        /* ===This handles the focus/non-focus behaviour of the text fields=== */
        .placeholder::-webkit-input-placeholder {
            color: var(--placeholder-text-colour);
        }

        .placeholder:-moz-placeholder {
            /* Firefox 18- */
            color: var(--placeholder-text-colour);
        }

        .placeholder::-moz-placeholder {
            /* Firefox 19+ */
            color: var(--placeholder-text-colour);
        }

        .placeholder:-ms-input-placeholder {
            color: var(--placeholder-text-colour);
        }

        .placeholder.hide-on-focus:focus::-webkit-input-placeholder {
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus:-moz-placeholder {
            /* Firefox 18- */
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus::-moz-placeholder {
            /* Firefox 19+ */
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus:-ms-input-placeholder {
            color: var(--paper-background-colour);
        }












        /* ===============
        MEDIA QUERIES
        =============== */


        /* On screens that are 600px or less, set the background color to olive */
        @media screen and (max-width: 1080px) {
            .grid-container {
                grid-template-columns:  1fr 1fr ;
                grid-template-rows: repeat(fit-content);
                grid-template-areas:
                    "Header Header"
                    "GoalsToday GoalsToday"
                    "GoalsWeek GoalsWeek"
                    "SubGrid SubGrid"
                    "Notes Notes"
                    "Footer Footer";
            }
        }


        @media screen and (max-width: 550px) {

            .GoalsToday {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "laGoalsToday ."
                "spTodayElapsed spTodayElapsed"
                    "inGoalsToday1 inGoalsToday2"
                    "inGoalsToday3  inGoalsToday4"
                    "inGoalsToday5 inGoalsToday6"
                    "inGoalsToday7 inGoalsToday8"
                    "inGoalsToday9 .";
            }

            .GoalsWeek {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "laGoalsToday ."
                "spWeekElapsed spWeekElapsed"
                    "inGoalsWeek1 inGoalsWeek2"
                    "inGoalsWeek3 inGoalsWeek4"
                    "inGoalsWeek5 inGoalsWeek6";
            }

            .SubGrid {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                grid-template-areas: "GoalsMonth"
                "GoalsYear"
                    "Habits";
            }

            .GoalsMonth {
                grid-template-rows: repeat(fit-content);
            }


            .GoalsYear {
                grid-template-rows: repeat(fit-content);
            }

            .Habits{
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "laHabits ."
                    "inHabits1 inHabits2"
                    "inHabits3 inHabits4"
                    "inHabits5 inHabits6";
                grid-template-rows: repeat(fit-content);
                border-left: none;
                padding-left: 10px;
            }

            .progress{margin-left: 0;}

        }


