        /* ===============
        PRIMARY LAYOUT
        =============== */

        :root {
            --left-padding-amount: 15px;
            --top-padding-amount: 25px;
            --label-progress-left-margin: 20px;
            --border-colour: #c3c3c3;
            --border-colour: #dadada;
            --placeholder-text-colour: #e3e3e3;
            --gutter-background-colour: #efefef;
            --gutter-background-colour: #fbfbfb;
            --paper-background-colour: #ffffff;
            --text-input-colour: #5f6772;
            --text-input-underline-colour: #dddddd;
            --text-header-colour: #9c9c9c;
            --text-input-font-family: 'Open Sans', sans-serif;
            --text-header-font-family: 'Montserrat', sans-serif;
            --gutter-background-image-url: url(https://www.focus-now.net/img/double-bubble-outline.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/light-grey-terrazzo.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/oriental.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/funky-lines.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/oriental.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/let-there-be-sun.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/y-so-serious-white.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/leaves.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/white-waves.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/full-bloom.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/what-the-hex.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/webb.png);

            --gutter-background-image-url: url(https://www.focus-now.net/img/tic-tac-toe.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/qbkls.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/just-waves.png);
            --gutter-background-image-url: url(https://www.focus-now.net/img/wavy-dots.png);
        }

        body {
            padding: 0;
            margin: 0;
            font-family: Sans-Serif;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1.5fr minmax(520px, 1.4fr) minmax(520px, 1.4fr) 1.5fr;

            grid-template-rows: minmax(65px, 65px) minmax(50px, 1.2fr) minmax(50px, 1fr) minmax(200px, 1.7fr) minmax(150px, 0.8fr) minmax(20px, 0.1fr);
            gap: 0px 0px;

            min-height: 100vh;
            background-color: var(--paper-background-colour);
        }

        .grid-container.home{
            grid-template-areas:
                "GutterLeft Header Header GutterRight"
                "GutterLeft GoalsToday GoalsToday GutterRight"
                "GutterLeft GoalsWeek GoalsWeek GutterRight"
                "GutterLeft SubGrid SubGrid GutterRight"
                "GutterLeft Notes Notes GutterRight"
                "GutterLeft Footer Footer GutterRight";
        }

        .grid-container.info{
            grid-template-areas:
                "GutterLeft Header Header GutterRight" "GutterLeft infoDiv infoDiv GutterRight" "GutterLeft infoDiv infoDiv GutterRight" "GutterLeft infoDiv infoDiv GutterRight" "GutterLeft infoDiv infoDiv GutterRight" "GutterLeft Footer Footer GutterRight";
        }

        .grid-container.info .home, .grid-container.info .settingsDiv{display: none;}
        .grid-container.home .infoDiv, .grid-container.home .settingsDiv{display: none;}
        .grid-container.settings .home, .grid-container.settings .infoDiv{display: none;}

        .grid-container.settings{
            grid-template-areas:
                "GutterLeft Header Header GutterRight" "GutterLeft settingsDiv settingsDiv GutterRight" "GutterLeft settingsDiv settingsDiv GutterRight" "GutterLeft settingsDiv settingsDiv GutterRight" "GutterLeft settingsDiv settingsDiv GutterRight" "GutterLeft Footer Footer GutterRight";
        }


        .grid-container div {
            border-bottom: var(--border-colour) solid 1px;
            margin-bottom: 0px;
            margin-top: 0px;
        }


        /* ===============
        SECONDARY LAYOUT
        =============== */

        /* ===SubGrid=== */
        .SubGrid {
            display: grid;
            grid-template-columns: 2.0fr 1fr;
            grid-template-columns: 1.8fr 1fr;
            grid-template-rows: 1.0fr 1.0fr;
            gap: 1px 1px;
            grid-template-areas: "GoalsMonth Habits"
                "GoalsYear Habits";
            grid-area: SubGrid;
            margin-right: 20px;
            margin-left: 20px;
        }


        /* ===============
        PAGE SECTIONS - NON CONTENT
        =============== */


        /* ===Header=== */
        .Header {
            grid-area: Header;
            margin-right: 35px;
            margin-left: 35px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            grid-template-areas: "svgLogo nav";
            grid-gap: 0 0;
        }

        #logo {
            fill: black;
            fill-opacity: 0.6;
            width: 21%;
            min-width:210px;
            shape-rendering: geometricPrecision;
            position: relative;
            right: 7px;
            grid-area: svgLogo;
        }

        nav{
            grid-area: nav;
            display: grid;
            align-items: center;
            grid-auto-flow: column;
            justify-items: end;
            grid-column: none;
            grid-gap: 30px;
        }

        nav a{text-decoration: none;}

        nav a:link,
        nav a:visited {
            color:#505050;
        }


        /* ===Gutters=== */

        .GutterRight {
            grid-area: GutterRight;
            background-color: var(--gutter-background-colour);
            background: var(--gutter-background-image-url);
            background-repeat: repeat;
            box-shadow: inset 3px -1px 10px -9px black;
        }

        .GutterLeft {
            grid-area: GutterLeft;
            background-color: var(--gutter-background-colour);
            background: var(--gutter-background-image-url);
            background-repeat: repeat;
            box-shadow: inset -3px 1px 10px -9px black;
        }

        /* ===Footer=== */
        .Footer {
            grid-area: Footer;
        }

        /* ===============
        PAGE SECTIONS - CONTENT
        =============== */


        /* ===GoalsToday=== */

        .GoalsToday {
            grid-area: GoalsToday;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.9fr 1fr 1fr 1.4fr;
            grid-template-areas: "laGoalsToday spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed spTodayElapsed"
                "inGoalsToday1 inGoalsToday1 inGoalsToday1 inGoalsToday2 inGoalsToday2 inGoalsToday2 inGoalsToday3 inGoalsToday3 inGoalsToday3"
                "inGoalsToday4 inGoalsToday4 inGoalsToday4 inGoalsToday5 inGoalsToday5 inGoalsToday5 inGoalsToday6 inGoalsToday6 inGoalsToday6"
                "inGoalsToday7 inGoalsToday7 inGoalsToday7 inGoalsToday8 inGoalsToday8 inGoalsToday8 inGoalsToday9 inGoalsToday9 inGoalsToday9";
            min-height: fit-content;
            grid-gap: 0 40px;
            margin-right: 20px;
            margin-left: 20px;
        }

        #spTodayElapsed {
            grid-area: spTodayElapsed;
        }

        .laGoalsToday {
            grid-area: laGoalsToday;
            width: max-content;
        }

        .inGoalsToday1 {
            grid-area: inGoalsToday1;
        }

        .inGoalsToday2 {
            grid-area: inGoalsToday2;
        }

        .inGoalsToday3 {
            grid-area: inGoalsToday3;
        }

        .inGoalsToday4 {
            grid-area: inGoalsToday4;
        }

        .inGoalsToday5 {
            grid-area: inGoalsToday5;
        }

        .inGoalsToday6 {
            grid-area: inGoalsToday6;
        }

        .inGoalsToday7 {
            grid-area: inGoalsToday7;
        }

        .inGoalsToday8 {
            grid-area: inGoalsToday8;
        }

        .inGoalsToday9 {
            grid-area: inGoalsToday9;
        }

        #taGoalsToday {
            grid-area: taGoalsToday;
        }





        /* ===GoalsWeek=== */

        .GoalsWeek {
            grid-area: GoalsWeek;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.9fr 1fr 1.4fr;
            grid-template-areas: "laGoalsWeek spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed spWeekElapsed"
                "inGoalsWeek1 inGoalsWeek1 inGoalsWeek1 inGoalsWeek2 inGoalsWeek2 inGoalsWeek2 inGoalsWeek3 inGoalsWeek3 inGoalsWeek3"
                "inGoalsWeek4 inGoalsWeek4 inGoalsWeek4 inGoalsWeek5 inGoalsWeek5 inGoalsWeek5 inGoalsWeek6 inGoalsWeek6 inGoalsWeek6";
            min-height: fit-content;
            grid-gap: 0 40px;
            margin-right: 20px;
            margin-left: 20px;

        }

        #spWeekElapsed {
            grid-area: spWeekElapsed;
        }

        .laGoalsWeek {
            grid-area: laGoalsWeek;
            width: max-content;
        }

        .inGoalsWeek1 {
            grid-area: inGoalsWeek1;
        }

        .inGoalsWeek2 {
            grid-area: inGoalsWeek2;
        }

        .inGoalsWeek3 {
            grid-area: inGoalsWeek3;
        }

        .inGoalsWeek4 {
            grid-area: inGoalsWeek4;
        }

        .inGoalsWeek5 {
            grid-area: inGoalsWeek5;
        }

        .inGoalsWeek6 {
            grid-area: inGoalsWeek6;
        }





        /* ===GoalsMonth=== */
        .GoalsMonth {
            grid-area: GoalsMonth;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.9fr 1fr 1.4fr;
            grid-template-areas: "laGoalsMonth spMonthElapsed spMonthElapsed spMonthElapsed spMonthElapsed spMonthElapsed"
                "inGoalsMonth1 inGoalsMonth1 inGoalsMonth1 inGoalsMonth2 inGoalsMonth2 inGoalsMonth2"
                "inGoalsMonth3 inGoalsMonth3 inGoalsMonth3 inGoalsMonth4 inGoalsMonth4 inGoalsMonth4";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        #spMonthElapsed {
            grid-area: spMonthElapsed;
        }

        .laGoalsMonth {
            grid-area: laGoalsMonth;
            width: max-content;
        }

        .inGoalsMonth1 {
            grid-area: inGoalsMonth1;
        }

        .inGoalsMonth2 {
            grid-area: inGoalsMonth2;
        }

        .inGoalsMonth3 {
            grid-area: inGoalsMonth3;
        }

        .inGoalsMonth4 {
            grid-area: inGoalsMonth4;
        }


        /* ===GoalsYear=== */
        .GoalsYear {
            grid-area: GoalsYear;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            border-bottom: 0 !important;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.9fr 1fr 1.4fr;
            grid-template-areas: "laGoalsYear spYearElapsed spYearElapsed spYearElapsed spYearElapsed spYearElapsed"
                "inGoalsYear1 inGoalsYear1 inGoalsYear1 inGoalsYear2 inGoalsYear2 inGoalsYear2"
                "inGoalsYear3 inGoalsYear3 inGoalsYear3 inGoalsYear4 inGoalsYear4 inGoalsYear4";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        #spYearElapsed {
            grid-area: spYearElapsed;
         }

        .laGoalsYear {
            grid-area: laGoalsYear;
            width: max-content;
        }

        .inGoalsYear1 {
            grid-area: inGoalsYear1;
        }

        .inGoalsYear2 {
            grid-area: inGoalsYear2;
        }

        .inGoalsYear3 {
            grid-area: inGoalsYear3;
        }

        .inGoalsYear4 {
            grid-area: inGoalsYear4;
        }


        /* ===Habits=== */
        .Habits {
            grid-area: Habits;
            padding: var(--top-padding-amount) 0 0 30px;
            padding: var(--top-padding-amount) 0 0 50px;
            border-left: var(--border-colour) solid 1px;
            border-bottom: 0px !important;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.75fr 1fr 1fr 1fr 1fr 1.2fr;
            grid-template-areas: "laHabits"
                "inHabits1"
                "inHabits2"
                "inHabits3"
                "inHabits4"
                "inHabits5";
            min-height: fit-content;
            grid-gap: 0 40px;
        }

        .laHabits {
            grid-area: laHabits;
            width: max-content;
        }

        .inHabits1 {
            grid-area: inHabits1;
        }

        .inHabits2 {
            grid-area: inHabits2;
        }

        .inHabits3 {
            grid-area: inHabits3;
        }

        .inHabits4 {
            grid-area: inHabits4;
        }

        .inHabits5 {
            grid-area: inHabits5;
        }




        /* ===Notes=== */
        .Notes {
            grid-area: Notes;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            margin-right: 20px;
            margin-left: 20px;
        }





        /* ===============
        OTHER PAGES
        =============== */

        /* ===Settings Page=== */
        .settingsDiv {
            grid-area: settingsDiv;
            padding: var(--top-padding-amount) 0 0 var(--left-padding-amount);
            grid-gap: 0 40px;
            margin-right: 20px;
            margin-left: 20px;
        }


        /* ===Info Page=== */
        .infoDiv {
            grid-area: infoDiv;
            display: grid;
            grid-template-rows: 0.27fr 0.38fr 1fr;
            grid-template-columns: 35px 1fr 0.125fr 1fr 35px;
        }

        .infoDiv figure {
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            grid-column: 2/5;
            grid-row: 2;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }


        div#infoText1 {grid-row: 3;grid-column: 2; color: var(--text-input-colour); border-bottom: none;}
        div#infoText2 {grid-row: 3;grid-column: 4; color: var(--text-input-colour); border-bottom: none;}




        .infoDiv blockquote {
            font-family: var(--text-input-font-family);
            color:var(--text-input-colour);
            font-size: 1.4em;
            margin-block-start: 0em;
            margin-block-end: 0em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            margin-bottom: 20px;
        }

        .infoDiv figcaption {
            float: right;
            font-family: var(--text-input-font-family);
            color:var(--text-input-colour);
            font-size: 1.4em;
            text-align: end;
        }






        /* ===============
        TEXT
        =============== */
        .grid-container.home label,
        .progress, nav a, h3 {
            text-transform: uppercase;
            font-size: 0.9em;
            color: #9c9c9c;
            color: var(--text-header-colour);
            font-family: var(--text-header-font-family);
            font-weight: normal;
        }

        .grid-container.settings label{
            color: var(--text-input-colour);
            font-family: var(--text-header-font-family);
            font-weight: normal;
            font-style: italic;
            font-size: 0.8em;
        }

        h3 {
            border-bottom: var(--border-colour) solid 1px;
            padding-bottom: 5px;
            color: var(--text-input-colour);
        }

        .progress {
            font-style: italic;
            text-transform: none;
            margin-left: var(--label-progress-left-margin);;
        }

        p{color: var(--text-input-colour);
            font-family: var(--text-input-font-family);
            font-size: 0.85em;
            line-height: 1.8em;
        }






        /* ===============
        FORMS
        =============== */

        textarea {
            border: none;
            font-size: 1.3em;
            resize: none;
            width: 98%;
            height: 75%;
            padding: 0;
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: var(--text-input-font-family);
            font-size: 0.9em;
            color: var(--text-input-colour);
            min-height: 100px;
            background-color: var(--paper-background-colour);
        }

        input:focus,
        textarea:focus,
        select:focus {
            outline: none;
        }

        .grid-container.home input {
            width: 70%;
            height: 15px;
            border: none;
            border-bottom: 1px solid var(--text-input-underline-colour);
            margin-left: 18px;
            font-family: var(--text-input-font-family);
            font-size: 0.9em;
            color: var(--text-input-colour);
            background-color: var(--paper-background-colour);
            z-index: 1;
        }

        .inputlabel {
            position: relative;
            top: 3px;
        }

        /* ===This handles the focus/non-focus behaviour of the text fields=== */
        .placeholder::-webkit-input-placeholder {
            color: var(--placeholder-text-colour);
        }

        .placeholder:-moz-placeholder {
            /* Firefox 18- */
            color: var(--placeholder-text-colour);
        }

        .placeholder::-moz-placeholder {
            /* Firefox 19+ */
            color: var(--placeholder-text-colour);
        }

        .placeholder:-ms-input-placeholder {
            color: var(--placeholder-text-colour);
        }

        .placeholder.hide-on-focus:focus::-webkit-input-placeholder {
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus:-moz-placeholder {
            /* Firefox 18- */
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus::-moz-placeholder {
            /* Firefox 19+ */
            color: var(--paper-background-colour);
        }

        .placeholder.hide-on-focus:focus:-ms-input-placeholder {
            color: var(--paper-background-colour);
        }



        /* ===============
        ETC
        =============== */










        /* ===============
        MEDIA QUERIES
        =============== */


        /* On screens that are 600px or less, set the background color to olive */
        @media screen and (max-width: 1080px) {
            .grid-container {
                min-height: 100vh;
                grid-template-columns:  1fr 1fr ;
                grid-auto-rowsx: max-content;
                grid-template-areasx:
                    "Header Header"
                    "GoalsToday GoalsToday"
                    "GoalsWeek GoalsWeek"
                    "SubGrid SubGrid"
                    "Notes Notes"
                    "Footer Footer";
            }



            .grid-container.home{
                grid-template-areas:
                    "Header Header"
                    "GoalsToday GoalsToday"
                    "GoalsWeek GoalsWeek"
                    "SubGrid SubGrid"
                    "Notes Notes"
                    "Footer Footer";
            }

            .grid-container.info{
                grid-template-areas:
                    "Header Header"
                    "infoDiv infoDiv"
                    "infoDiv infoDiv"
                    "infoDiv infoDiv"
                    "infoDiv infoDiv"
                    "Footer Footer";
            }

            .grid-container.settings{
                grid-template-areas:
                    "Header Header"
                    "settingsDiv settingsDiv"
                    "settingsDiv settingsDiv"
                    "settingsDiv settingsDiv"
                    "settingsDiv settingsDiv"
                    "Footer Footer";
            }
        }


        @media screen and (max-width: 550px) {

            .desktop-only{display:none;}

            .grid-container{grid-template-rows: minmax(65px, 65px) minmax(1.2fr) minmax(150px, 1fr) minmax(680px, 2fr) minmax(150px, 0.8fr) minmax(20px, 0.1fr);}




            .Header {grid-template-columns: 1fr 6fr;}

            a#homeLink {width: 35px;overflow: hidden;}


            .GoalsToday {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "laGoalsToday ."
                "spTodayElapsed spTodayElapsed"
                    "inGoalsToday1 inGoalsToday2"
                    "inGoalsToday3  inGoalsToday4"
                    "inGoalsToday5 inGoalsToday6"
                    "inGoalsToday7 inGoalsToday8"
                    "inGoalsToday9 .";
            }

            .GoalsWeek {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                grid-template-areas: "laGoalsWeek ."
                "spWeekElapsed spWeekElapsed"
                    "inGoalsWeek1 inGoalsWeek2"
                    "inGoalsWeek3 inGoalsWeek4"
                    "inGoalsWeek5 inGoalsWeek6";
            }

            .SubGrid {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr 1.1fr;
                grid-template-areas: "GoalsMonth"
                "GoalsYear"
                    "Habits";
            }

            .GoalsMonth {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(35px, 1fr);
                grid-template-areas: "laGoalsMonth ."
                "spMonthElapsed spMonthElapsed"
                    "inGoalsMonth1 inGoalsMonth2"
                    "inGoalsMonth3 inGoalsMonth4";
            }


            .GoalsYear {
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: minmax(35px, 1fr);
                grid-template-areas: "laGoalsYear ."
                "spYearElapsed spYearElapsed"
                    "inGoalsYear1 inGoalsYear2"
                    "inGoalsYear3 inGoalsYear4";
                border-bottom: var(--border-colour) solid 1px !important;
            }

            .Habits{
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "laHabits ."
                    "inHabits1 inHabits2"
                    "inHabits3 inHabits4"
                    "inHabits5 inHabits6";
                grid-template-rows: 0.75fr 1fr 1fr 1fr;
                border-left: none;
                padding-left: 10px;
            }


            .infoDiv {grid-template-rows: 0.3fr 0.5fr 1.2fr;}
            div#infoText1 {grid-row: 3;grid-column: 2/5;}
            div#infoText2 {grid-row: 4;grid-column: 2/5;}


            .progress{margin-left: 0;}

        }


